<nav class="navbar navbar-default no-bw">
	<div class="container-fluid header">
		<div class="col-md-10 col-md-offset-1">
			<div class="row nav-page-header">
        <span class="logo"><%= image_tag "logo_nerdery.png" %></span>
        <h1 class="title">Snack Tracker App</h1>
        <span class="nav-links">
          <ul>
            <li><%= link_to "Vote", optional_snacks_path %></li>
            <li><%= link_to "Suggest", new_optional_snack_path %></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</nav>
