<h1>Suggested Snacks</h1>

<table class="table" style="width:100%">
  <tr>
    <th>Vote</th>
    <th>Name</th>
    <th># Votes</th>
    <th>Last Purchased</th>
    <th>Id</th>
  </tr>
  <% @this_month_sugs.each do |sug| %>
  <tr>
    <td><button type="button" class="btn btn-default">Vote</button></td>
    <td><%= sug.name %></td>
    <td></td>
    <td><%= sug.last_purchase_date %></td>
    <td><%= sug.id %></td>
  </tr>
  <% end %>
</table>


<h1>Required Snacks</h1>
<ul>
  <% @required_snacks.each do |snack| %>
    <li>
      <%= snack["name"] %>
    </li>
  <% end %>
<ul>
